<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.store.dao3.StoreMapper">
  <resultMap id="BaseResultMap" type="com.dl.store.model.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="storeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="addr_pic" jdbcType="VARCHAR" property="addrPic" />
    <result column="store_pic" jdbcType="VARCHAR" property="storePic" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
  </resultMap>


  <select id = "queryInfo" resultMap="BaseResultMap">
    select * from dl_store where id = #{storeId}
  </select>
  
</mapper>