<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.store.dao3.UserBonusMapper">
  <resultMap id="BaseResultMap" type="com.dl.store.model.UserBonus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_bonus_id" jdbcType="INTEGER" property="userBonusId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="bonus_id" jdbcType="INTEGER" property="bonusId" />
    <result column="bonus_sn" jdbcType="VARCHAR" property="bonusSn" />
    <result column="bonus_price" jdbcType="DECIMAL" property="bonusPrice" />
    <result column="receive_time" jdbcType="INTEGER" property="receiveTime" />
    <result column="used_time" jdbcType="INTEGER" property="usedTime" />
    <result column="start_time" jdbcType="INTEGER" property="startTime" />
    <result column="end_time" jdbcType="INTEGER" property="endTime" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="pay_log_id" jdbcType="INTEGER" property="payLogId" />
    <result column="bonus_status" jdbcType="VARCHAR" property="bonusStatus" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="use_range" jdbcType="INTEGER" property="useRange" />
    <result column="min_goods_amount" jdbcType="DECIMAL" property="minGoodsAmount" />
    
  </resultMap>
  
  <select id="queryUserBonusList" resultType="String" resultMap="BaseResultMap">
	  	SELECT * FROM dl_user_bonus WHERE user_id = #{userId}   
	  	AND  bonus_status = 0 
	  	AND  is_delete = 0  
	  	AND  start_time &lt;= #{curTime} 
	  	AND  end_time &gt;= #{curTime}
	  	AND  user_bonus_id IN
    	<foreach collection="userBonusIds" index="index" item="userBonusId" open="(" separator="," close=")" >
      		#{userBonusId}
    	</foreach>
  </select> 
  
    <select id="queryUserBonusBySelective" parameterType="com.dl.store.model.UserBonus" resultMap="BaseResultMap">
	  	SELECT * FROM dl_user_bonus
		<where>
		  	<if test="userId != null">
		        AND user_id = #{userId}
		    </if>
		    <if test="isDelete != null">
		        AND is_delete = #{isDelete}
		    </if>
		    <if test="bonusStatus != null">
		        AND bonus_status = #{bonusStatus}
		    </if>
		    <if test="bonusId != null">
		        AND bonus_id = #{bonusId}
		    </if>
		    <if test="minGoodsAmount != null">
		        AND min_goods_amount &lt;= #{minGoodsAmount}
		    </if>
		    <if test="userBonusId != null">
		        AND user_bonus_id = #{userBonusId}
		    </if>
		    <if test="startTime != null">
		        AND start_time &lt;= #{startTime}
		    </if>
		    <if test="endTime != null">
		        AND end_time &gt;= #{endTime}
		    </if>
			<if test="storeId != null">
				AND store_id = #{storeId}
			</if>
	    </where>
	    order by end_time ASC,bonus_price DESC,min_goods_amount ASC
  </select>
  
  <select id="queryUserBonusForPay" parameterType="com.dl.store.model.UserBonus" resultMap="BaseResultMap">
	  	SELECT * FROM dl_user_bonus
		<where>
		  	<if test="userId != null">
		        AND user_id = #{userId}
		    </if>
		    <if test="isDelete != null">
		        AND is_delete = #{isDelete}
		    </if>
		    <if test="bonusStatus != null">
		        AND bonus_status = #{bonusStatus}
		    </if>
		    <if test="bonusId != null">
		        AND bonus_id = #{bonusId}
		    </if>
		    <if test="minGoodsAmount != null">
		        AND min_goods_amount &lt;= #{minGoodsAmount}
		    </if>
		    <if test="userBonusId != null">
		        AND user_bonus_id = #{userBonusId}
		    </if>
		    <if test="startTime != null">
		        AND start_time &lt;= #{startTime}
		    </if>
		    <if test="endTime != null">
		        AND end_time &gt;= #{endTime}
		    </if>
			<if test="storeId != null">
				AND store_id = #{storeId}
			</if>
	    </where>
	    order by bonus_price DESC,min_goods_amount ASC,end_time ASC
  </select>
  
    <select id="queryUserBonusForUsed" parameterType="com.dl.store.model.UserBonus" resultMap="BaseResultMap">
	  	SELECT * FROM dl_user_bonus
		<where>
		  	<if test="userId != null">
		        AND user_id = #{userId}
		    </if>
		    <if test="isDelete != null">
		        AND is_delete = #{isDelete}
		    </if>
		    <if test="bonusStatus != null">
		        AND bonus_status = #{bonusStatus}
		    </if>
		    <if test="bonusId != null">
		        AND bonus_id = #{bonusId}
		    </if>
		    <if test="minGoodsAmount != null">
		        AND min_goods_amount &lt;= #{minGoodsAmount}
		    </if>
		    <if test="userBonusId != null">
		        AND user_bonus_id = #{userBonusId}
		    </if>
		    <if test="startTime != null">
		        AND start_time &lt;= #{startTime}
		    </if>
		    <if test="endTime != null">
		        AND end_time &gt;= #{endTime}
		    </if>
			<if test="storeId != null">
				AND store_id = #{storeId}
			</if>
	    </where>
	    order by used_time DESC
  </select>
  
  <select id="queryUserBonusIdsExpire" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	  SELECT user_bonus_id FROM dl_user_bonus WHERE  bonus_status = 0 AND end_time &lt;= #{now}
  </select>
  
  <insert id ="insertBatchUserBonus" parameterType="java.util.List" >
      insert into dl_user_bonus(user_bonus_id,user_id,bonus_id,bonus_sn,bonus_price,receive_time,start_time,end_time,bonus_status,is_delete,use_range,min_goods_amount)
            values
            <foreach collection ="list" item="item" index= "index" separator =",">
                (
                #{item.userBonusId},
                #{item.userId},
                #{item.bonusId},
                #{item.bonusSn},
                #{item.bonusPrice},
                #{item.receiveTime},
                #{item.startTime},
                #{item.endTime},
                #{item.bonusStatus},
                #{item.isDelete},
                #{item.useRange},
                #{item.minGoodsAmount}
                )
            </foreach >
   </insert >
 
   <insert id ="insertBatchUserBonusForRecharge" parameterType="java.util.List" >
      insert into dl_user_bonus(user_bonus_id,user_id,bonus_id,bonus_sn,bonus_price,receive_time,start_time,end_time,bonus_status,is_delete,use_range,min_goods_amount,pay_log_id)
            values
            <foreach collection ="list" item="item" index= "index" separator =",">
                (
                #{item.userBonusId},
                #{item.userId},
                #{item.bonusId},
                #{item.bonusSn},
                #{item.bonusPrice},
                #{item.receiveTime},
                #{item.startTime},
                #{item.endTime},
                #{item.bonusStatus},
                #{item.isDelete},
                #{item.useRange},
                #{item.minGoodsAmount},
                #{item.payLogId}
                )
            </foreach >
   </insert >
    
   <update id ="updateBatchUserBonusExpire" parameterType="java.util.List" >
      update  dl_user_bonus set bonus_status = 2 where user_bonus_id in 
          <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> 
			#{item}  
          </foreach >
   </update > 
  
  <select id="queryPUshBonusList" resultMap="BaseResultMap">
  	select * from dl_user_bonus where bonus_status = 0 AND end_time &lt; #{end} AND end_time &gt;= #{start} 
  </select>
  
  <select id="getUnReadBonusNum" resultType="int">
  		SELECT count(1) FROM dl_user_bonus WHERE user_id = #{userId} and is_delete = 0  and is_read=0
  </select>
  
  <update id="updateUnReadBonus">
  	update dl_user_bonus set is_read = 1 where user_id=#{userId} and is_read=0
  </update>

	<select id="queryOneBonus" resultMap="BaseResultMap">
		select * from dl_user_bonus where user_bonus_id = #{userBonusId} and user_id = #{userId}
	</select>
  
</mapper>